# build output
dist/
# generated types
.astro/

# Vercel files
.vercel/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
playwright-log.*
.sonda/

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# Agent skills (temporaire)
skills/

# local test files
tests-results/*
.playwright-mcp/
.playwright-mcp/*

# wieframes

wireframes/
wireframes/*

# AI
instructions/
instructions/*