---
import PostComments from "@components/modules/blog/single/PostComments.astro";
---
<div class="post-footer">
    <PostComments />
</div>

<style>
.post-footer{margin-top:2.5rem;padding-top:3rem;border-top:1px solid var(--border-muted)}
</style>